@import url("/css/media_queries.css");

.main-card {
  display: grid;

  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  margin-bottom: 2%;
  padding: 1%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(156, 151, 151);
  min-height: 100vh;
}

.sub-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 50%;
}
.read-btn {
  background-color: rgb(226, 167, 177);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.7em;
  font-weight: 400;
  cursor: pointer;
}

.text {
  font-size: 2.5em;
  font-weight: 800;
  margin-bottom: -2%;
  color: rgb(226, 167, 177);
}

.second-text {
  font-size: 1.2em;
  font-weight: 400;
  color: rgb(137, 131, 139);
  text-align: left;
  padding: 1%;
}

img:hover {
  transform: scale(0.8, 0.8);
  filter: blur(0);
  transition: 200ms ease-in;
  transition-delay: 100ms;
}

img:not(:hover) {
  transform: scale(1.1, 1.1);
  filter: blur(3px);
  transition: 500ms ease-in-out;
  transition-delay: 500ms;
}

img {
  width: 100%;
  height: auto;
  padding: -6% 1% 1% 1%;
}


