@media screen and (max-width: 900px) {
  .main-container {
    padding-top: 7rem;
  }
  nav ul li a {
    font-size: 0.7em;
    font-weight: 300;
  }
}

@media screen and (max-width: 600px) {
  .main-container {
    padding-top: 14rem;
  }
  h1.text {
    font-size: 1.5em;
    text-align: left;
  }

  p.second-text {
    font-size: 1em;
    font-weight: 300;
  }

  nav ul li {
    display: grid;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav ul li a.active {
    border-radius: 20px;
    border: none;
    background-color: #f2d7f3fb;
    color: #f80cdd;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    border-radius: 5px;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.7em;
  }
  .second-text {
    padding: 2%;
  }

  .second-text > button {
    padding: 3px;
    font-size: 0.6em;
    font-weight: 200;
  }
}
