/* Some basic styling for the navigation menu */
nav {
  background-color: #f1f1f1;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

nav ul {
  list-style-type: none;
  margin: 2;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

/* Styling for the sections */
section {
  margin-top: 60px; /* Adjust margin-top to make space for the fixed navigation */
  margin-bottom: 50px;
}

h2 {
  margin-top: 0;
}

/* Navigation menu effects */
nav ul li a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 10px;
}

nav ul li a:hover {
  color: #0077ff;
  border-bottom: solid 2px #0077ff;


}

nav ul li a.active {
  color: #0077ff;
  font-weight: bold;
  border-bottom: solid 2px #0077ff;
}
.center_Image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_Image img {
  width: 60%;
  height: auto;
}
