/* Some basic styling for the navigation menu */
nav {
  background-color: #f1f1f1;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

nav ul {
  list-style-type: none;
  margin: 2;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}



h2 {
  margin-top: 0;
}

/* Navigation menu effects */
nav ul li a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 0.5em 0 0 0.5em;
}

nav ul li a:hover {
  color: #0077ff;
}

nav ul li a.active {
  color: #0077ff;
  font-weight: bold;
  border-bottom: solid 2px #0077ff;
}
.center_Image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.center_Image img {
  width: 100%;
  height: auto;
}

/* media queries */

@media screen and (max-width: 600px) {
  nav ul li {
    display: grid;
    margin: 1px;
    padding: 0;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .center_Image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  .center_Image img {
    width: 10%;
    height: auto;
  }
}
