#navbar {
  display: none;

  color: #fff;
  padding: 10px;
  position: fixed;
  background-color: #f1f1f1;

  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  align-items: center;
  justify-content: space-evenly;
}

#navbar ul {
  list-style-type: none;
  margin: 2;
  padding: 0;

}

#navbar ul li a{
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 0.5em 0 0 0.5em;
  color: #343232;
  text-decoration: none;
}

#nav ul li a:0 {
  color: #0077ff;
}

#menu-toggler {
  display: none; /* Initially hide the menu toggler */
}

#menu-toggler.show {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  background: #333;
  color: #fff;
}

#menu-toggler.show .menu-toggler-bar {
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
  background: #fff;
}

#menu-toggler.show.close .menu-toggler-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

#menu-toggler.show.close .menu-toggler-bar:nth-child(2) {
  opacity: 0;
}

#menu-toggler.show.close .menu-toggler-bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

nav ul li a.active {
  color: #0077ff;
  font-weight: bold;
  border-bottom: solid 2px #0077ff;
}
